@keyframes slide {
from{background-position:0 0}
to{background-position:1920px 0}
}
@-webkit-keyframes slide {
from{background-position:0 0}
to{background-position:1920px 0}
}
.service-block-one a {text-decoration:none}

@keyframes slide {
from{background-position:0 0}
to{background-position:1920px 0}
}
@-webkit-keyframes slide {
from{background-position:0 0}
to{background-position:1920px 0}
}
.service-block-one .inner-box{position:relative;display:block;overflow:hidden;text-align:center;background:#353535;padding:50px 20px 36px}
.service-block-one .inner-box:before{position:absolute;content:'';width:100%;height:0;left:0;bottom:0;right:0;transition:all 500ms ease}
.service-block-one .inner-box:hover:before{height:100%;top:0}
.service-block-one .inner-box .icon-box{position:relative;display:inline-block;font-size:100px;line-height:100px;margin-bottom:8px;z-index:1;transition:all 500ms ease}
.service-block-one .inner-box .icon-box:before{position:absolute;content:'';background:#303030;width:72px;height:72px;border-radius:50%;left:-9px;top:-13px;z-index:-1;transition:all 500ms ease}
.service-block-one .inner-box:hover .icon-box:before{background:#c42526}
.service-block-one .inner-box:hover .icon-box{transform:rotateY(360deg);color:#fff}
.service-block-one .inner-box h3{position:relative;display:block;font-size:22px;line-height:30px;color:#fff;font-weight:800;margin-bottom:9px}
.service-block-one .inner-box h3 a{display:inline-block;color:#fff}
.service-block-one .inner-box p{position:relative;color:#fff;margin-bottom:33px}
.service-block-one .inner-box .theme-btn{padding:12px 25px}
.service-block-one .inner-box:hover .theme-btn{background:#de3f40}
.service-section .sec-title{margin-bottom:70px}
.service-section .sec-title span{margin-bottom:21px}
.service-block-one .inner-box .icon-box{color:#da292a}
.service-block-one .inner-box:before{background:#da292a}
.theme-btn{position:relative;display:inline-block;font-size:15px;background:#da292a;line-height:26px;font-weight:700;font-family:'Rubik',sans-serif;color:#fff!important;text-align:center;cursor:pointer;border-radius:5px;z-index:1;transition:all 500ms ease}
.theme-btn:before{position:absolute;content:'';background:#1c1d1f;width:100%;height:100%;border-radius:5px;z-index:-1;top:0;left:0;right:0;bottom:0;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.5s;transition-duration:.5s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.theme-btn:hover:before{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transition-timing-function:cubic-bezier(.52,1.64,.37,.66);transition-timing-function:cubic-bezier(.52,1.64,.37,.66)}
.theme-btn i{position:relative;top:2px;font-size:20px;margin-left:40px;}
@media(max-width:1024px) {
    .service-block-one .inner-box{padding:30px}
    .service-block-one{margin-bottom:15px}
    .theme-btn{padding:10px 20px}
}